$colorBase:blue;
$colorImportant:rgb(76, 76, 109);
$colorWarning:cyan;
$boxShadow: 8px 8px 10px 1px black;


@mixin  primaryFont {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
@mixin  secondaryFont {
    font-size: 20px;
    color: lightblue;
  }