body{
    min-height: 100vh;
}
.principal {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.lemoncode{
    @media only screen and (max-width: 780px){  
        display:none;
      }  
  
}
.mainheader{
    display: flex;
    justify-content: space-between;
    background-color: lightpink;
}
.subheader{ 
    display: flex;
    justify-content: space-between;
    @media only screen and (max-width: 780px){  
      order:2;
    }  
}

.container {
    flex: 1;
    @media only screen and (max-width: 980px){  
       order:1;
    }  
}