@import "colors";
@import "functions";

.seccionColoreada{
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 2px;
  
    div{
        flex:1;
        padding:50px 2px 50px 2px;
        margin: 2px;
        text-align: center;
    }
}

@include clarearColorBase('colorRow1',$colorRoW1,4);
@include clarearColorBase('colorRow2',$colorRoW2,4);
@include clarearColorBase('colorRow3',$colorRoW3,4);








  
